{% extends "base.html" %}

{% block section %}

<header class="header">
    <div class="header-overlay"></div>
    <div class="header-content">
        <h1 class="logo">Loyal<span>Fi</span></h1>
        <p class="tagline">Unleash the power of web3 loyalty</p>
        
        </p>       
    </div>     
</header>

<main class="container">
    <section id="description">
        <h1><p><span class="logo">Loyal<span>Fi</span></span> Revolutionizing User Engagement in Web3</h1>
        </p>
        <p class="text">
            Select "loyal behavior to track"
        </p>
        <p class="text">
            Create ranking
        </p>
        <p class="text">
            Take snapshot and create NFT
        </p>
    </section>
    <section>
        <h1>Do you want to give it a try?</h1>
        <a href="/claim"><button class="button"> Join the incentives of the future</button></a>
    </section>
</main>

{% endblock %}