{% extends "base.html" %}

{% block section %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Top 5 Loyal Users</title>
</head>
<body>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Uniswap</th>
            </tr>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Ethereum Address</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr class="gold">
                <td>1</td>
                <td>User 1</td>
                <td>0x93f635372008b7c5d770aaa6ff313454c8dc498c</td>
                <td>6500</td>
            </tr>
            <tr class="silver">
                <td>2</td>
                <td>User 2</td>
                <td>0x1dc972844e2507180368701A6e0cf3B2F728A1b3</td>
                <td>5900</td>
            </tr>
            <tr class="bronze">
                <td>3</td>
                <td>User 3</td>
                <td>0x3BF7B01e29eeF9657b3C99a88D6B874719726C3d</td>
                <td>4600</td>

            </tr>
            <tr>
                <td>4</td>
                <td>User 4</td>
                <td>0x79d9C67052cb7e334916A641468320c38d1e7ADb</td>
                <td>3800</td>
            </tr>
            <tr>
                <td>5</td>
                <td>User 5</td>
                <td>0x599EF2ba4555723073d65eab29606be09721d0b2</td>
                <td>2400</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <tr>
                <th>Quickswap</th>
            </tr>
            <tr>
                <th>Rank</th>
                <th>User</th>
                <th>Ethereum Address</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr class="gold">
                <td>1</td>
                <td>User 1</td>
                <td>x08A8D470AeA7Bd8fF6f7c8Bd38104d7c6bD9C9cB</td>
                <td>6000</td>
            </tr>
            <tr class="silver">
                <td>2</td>
                <td>User 2</td>
                <td>0x9781A52b1D62b93Abd9053C3A3a9c5f5D4C4b3e4</td>
                <td>5300</td>
            </tr>
            <tr class="bronze">
                <td>3</td>
                <td>User 3</td>
                <td>0x6aB5D5B5f5cDaC9e2c99Bdc6d7a6D82f925915c8</td>
                <td>4400</td>
            </tr>
            <tr>
                <td>4</td>
                <td>User 4</td>
                <td>0xBbC6a1F6c05601f14Aa82f7a0D23dA1A2B82fc39</td>
                <td>3150</td>
            </tr>
            <tr>
                <td>5</td>
                <td>User 5</td>
                <td>0x22a61b82aBb9D76869235E75A34aF8bC0A1eB3ef</td>
                <td>2000</td>
            </tr>
            <tr>
                <td>...</td>
                <td>...</td>
                <td>...</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>

{% endblock %}