{% extends "base.html" %}
{% block section %}

<section id="Snapshot">
    <h1>Assign weights, from 0 to 100</h1>
    <label>The higher the weight, the more important it is for the ranking</label>
    <br>
    <div class="form-container">
        <form action="" id="subscribe" enctype="multipart/form-data">
            <p>
                <label for="name">Liquidity provided:</label>
                <input type="text" name="name" id="name" placeholder="Liquidity provided">
            </p>
            <p>
                <label for="name">Amount of swaps:</label>
                <input type="text" name="name" id="name" placeholder="Amount of swaps">
            </p>
            <p>
                <label for="name">Volume traded:</label>
                <input type="text" name="name" id="name" placeholder="Volume traded">
            </p>
            <p>
                <label for="name">First date of the transaction (antiquity):</label>
                <input type="text" name="name" id="name" placeholder="Date of the transaction">
            </p>
            <label>The total sum of weights should be 100 </label>
            <a><button class="button"> Create
            </button></a>    
        </div>
    </form>
</section>

{% endblock %}