{% extends "base.html" %}

{% block section %}

    <section class="container">
    <h1><p>Which kind of protocol do you want to rank?</h1></p>
        <a href="/create_ranking"><button class="button"> DeFi
        </button></a>
        <br>
        <a href="/create_ranking"><button class="button"> Marketplace
        </button></a>
        <br>
        <a href="/create_ranking"><button class="button"> Social App
        </button></a>
        <br>
        <a href="/create_ranking"><button class="button"> Gaming
        </button></a>    
    </section>

{% endblock %}