:root{
    --font-size: 16px;
    --primary-color: #012238;
    --dark-color: #000000;
    --light-color: #F4F2F3;
    --bg-blue: #15aed8;
    --white-color: #ffffff;
    --content-max-width: 800px;
}

